body {
    height: 100vh;
    background-color: aquamarine;
}
h1 {
    font-size: 60px;
    text-align: center;
}
.laptop_large,
.laptop,
.tablet,
.mobile {
    font-size: 40px;
    text-align: center;
    display: none;
}
@media screen and (max-width:1440px) {
    body {
        background-color: brown;
    }
    .laptop-large {
        display: block;

}
@media screen and (max-width:1200px) {
    body {
        background-color: aqua;
    }
}
.mobile{
    display:none;
}
.laptop {
    display: block;
}
@media screen and (max-width:768px){
    body{
        background-color:blue;
    }
}
.tablet{
    display:block;
}
}
@media screen and (max-width:400px){
    body{
        background-color: bisque;
    }
}
.mobile{
    display:block;
}




